.Rodape {
  background: var(--preto);
  color: var(--cinza);
  padding: 0.5rem 1rem;

  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
}


.Rodape h4 {
  font-size: 1.3rem;
  text-align: center;
}
